<h1>Sorter</h1>
<h4>A place for formating your text</h4>
<div class="main-sorter">
<form class="d-flex flex-column mx-5">
    <p class="my-2"><label>Text:</label></p>
    <textarea class="p-2" rows="7" cols="20" autofocus>Some text...</textarea>
    <div class="buttons mt-3 d-flex flex-nowrap">
        <div class="button">
            <label>Column Sort</label>
            <button type="submit">Run</button>
        </div>
        <div class="button">
            <label>Row Sort</label>
            <button type="submit">Run</button>
        </div>
        <div class="button">
            <label>Sort it to row</label>
            <button type="submit">Run</button>
        </div>
    </div>
    <p class="my-2"><label>Output:</label></p>
    <textarea class="p-2" rows="7" cols="20" autofocus></textarea>
</form>
</div>